h1 {
  text-align: center;
  color: white;
  font-family: "Helvitica", cursive, sans-serif;
  padding: 0px;
  font-size: 75px;
}
body {
  background-color: DarkOliveGreen;
}

div {
  margin: auto;
  width: 700px;
  height: 700px;
}

.nav-link {
  color: white;
  font: 20px Arial, sans-serif;
}

#about {
  font: 20px Arial, sans-serif;
  color: white;
}

#menu {
  font: 33px Arial, sans-serif;
  color: white;
  text-align: center;
}

.menu-item {
  font: 30px Arial, sans-serif;
  color: white;
}

#home_img {
  margin: auto;
  width: 40%;
  border: 3px solid #73ad21;
  padding: 10px;
  display: block;
}

#grapes {
  margin: 0px;
  width: 20%;
  height: 150%;
}
